<h1>Melody</h1>
<div id="app">
  <table class="border">
    <tr>
      <td v-for="beat in beats">
        <span v-if="beat.active">V</span>&nbsp;
      </td>
    </tr>
    <tr v-for="note in notes">
      <td v-for="beat in beats" v-on:click="toggle(note, beat)" v-bind:class="{ active: beat.notes[note.name] }" class="note border">
      </td>
    </tr>
  </table>

  <input type="text" v-model="msPerBeat">
  <button v-on:click="play()">Play</button>
  <button v-on:click="stop()">Stop</button>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- BOOTSTRAP -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link rel="stylesheet" href="index.css">

<script src="https://unpkg.com/vue"></script>
<script src="audiosynth.js"></script>

<script>


  var notes = [
    { name: 'C'},
    { name: 'C#'},
    { name: 'D'},
    { name: 'D#'},
    { name: 'E'},
    { name: 'F'},
    { name: 'F#'},
    { name: 'G'},
    { name: 'G#'},
    { name: 'A'},
    { name: 'A#'},
    { name: 'B'}].reverse();
  NUMBER_OF_BEATS = 20;
  var beats = Array(NUMBER_OF_BEATS);
  for (var i = 0; i < 20; i++) {
    beats[i] = {
      index: i
    };
    beats[i].notes = {};
    notes.forEach(function(note) {
      beats[i].notes[note.name] = false;
    });
  }


  var app = new Vue({
    el: '#app',
    data: {
      msPerBeat: 300,
      beats: beats,
      notes: notes,
      timer: null,
      overlap: 2
    },
    methods: {
      toggle: function(note, beat) {
        beat.notes[note.name] = !beat.notes[note.name];
        Synth.play(0, note.name, 4, this.msPerBeat / 1000 * (1 + this.overlap));
      },
      play: function(){
        var self = this;
        this.stop();
        this.playBeatsStartingWith(0);
      },
      playBeat: function(beat) {
        for (note in beat.notes) {
          if (beat.notes[note]) {
            Synth.play(0, note, 4, this.msPerBeat / 1000 * (1 + this.overlap));
          }
        }
      },
      playBeatsStartingWith: function(index) {
        if (index == beats.length) {
          return;
        }
        this.beats[index].active = true;
        this.$forceUpdate(); // This should not be needed if reactivity works as it should
        var beat = this.beats[index];
        this.playBeat(beat);
        var self = this;
        this.timer = setTimeout(function() {
          self.beats[index].active = false;
          self.playBeatsStartingWith(index + 1)
        }, this.msPerBeat);
      },
      stop: function() {
        this.beats.forEach(function(beat) {
          beat.active = false;
        });
        this.$forceUpdate(); // This should not be needed if reactivity works as it should
        clearTimeout(this.timer)
      }
    }
  })
</script>
